<nav class="navbar navbar-expand-lg navbar-light bg-light container">
  <a class="navbar-brand" href="index.html">
    <span class="titulo-brand"
      ><img class="img-brand" src="assets/img/mg_icon.png" alt="" />Mario
      González
    </span>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="formacion.html">
          <span class="titulo-brand"> Formación </span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="competencia_interes.html">
          <span class="titulo-brand"> Competencias & Intereses </span>
        </a>
      </li>
      <!--   <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle titulo-brand"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          Más sobre mi
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="formacion.html"> Formación </a>
          <a class="dropdown-item" href="competencia_interes.html">
            Competencias & Intereses
          </a>
        
        </div>
      </li> -->
      <!--  <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle titulo-brand"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          Otros
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="mini_blog.html"> Mini Blog </a>
           <a class="dropdown-item" href="competencia_interes.html">
            Competencias & Intereses
          </a> 
             <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a> 
        </div>
      </li> -->
      <!--   <li class="nav-item active">
        <a class="nav-link" href="mini_blog.html">
          <span class="titulo-brand"> Mini Blog </span>
        </a>
      </li> -->
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <!-- <button id="modoNocturno" type="button">🌙</button> -->

      <a
        class="btn btn-cv my-2 my-sm-0"
        href="assets/pdf/CV-mario-gonzalez.pdf"
        target="_blank"
      >
        Curriculum Vita e - CV
      </a>
    </form>
  </div>
</nav>
