@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap";
:root {
  --Montserrat: "Montserrat";
  --Roboto: "Roboto";
}

body {
  background-color: #e3e5f1;
  color: #253d65;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  position: relative;
  font-family: var(--Roboto);
}

#modoNocturno[type=button]:not(:disabled) {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  border: transparent;
  background: transparent;
  outline: none;
  font-size: 30px;
}
#modoNocturno[type=button]:not(:disabled):hover, #modoNocturno[type=button]:not(:disabled):focus {
  border: transparent;
  background: transparent;
}

.modo-oscuro {
  background-color: #181a1b !important;
  filter: invert(1) hue-rotate(180deg);
}
.modo-oscuro img,
.modo-oscuro video,
.modo-oscuro iframe {
  filter: invert(1) hue-rotate(180deg) !important;
}
.modo-oscuro table {
  border-color: white !important;
}
.modo-oscuro ::-moz-selection {
  background-color: #004daa !important;
  color: white !important;
  background-color: #004daa !important;
  color: white !important;
}
.modo-oscuro ::selection {
  background-color: #004daa !important;
  color: white !important;
}

.container_main {
  flex: 1;
  max-width: 650px;
}

p {
  font-family: var(--Roboto);
  font-weight: 400;
  text-align: justify;
}

.margenes_top {
  margin-top: 60px;
}

.margenes_top-2 {
  margin-top: 30px;
}

a {
  cursor: pointer !important;
  color: #253d65 !important;
}

.cont-nav {
  background-color: #e3e5f1;
}

.bg-light {
  background-color: transparent !important;
  height: 100px;
}

.titulo-brand {
  font-weight: 400;
  font-size: 20px;
  font-family: var(--Montserrat);
  color: #1d2744 !important;
  cursor: pointer !important;
}
.titulo-brand:hover {
  color: #1d2744;
  transition: 0.5s;
  text-decoration: overline;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #1d2744 !important;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item:hover {
  background-color: transparent !important;
  text-decoration: overline;
}

.navbar-light .navbar-nav .nav-link {
  color: #1d2744 !important;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(37 61 101)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  background-color: white !important;
  border: 2px solid !important;
}

section.saludo .cont-columnas {
  max-width: 435px;
  font-family: var(--Roboto);
}
section.saludo .titulo-principal-saludo {
  margin-bottom: 30px !important;
  font-family: var(--Roboto);
  padding: 30px 10px 30px 10px;
  border-radius: 20px;
  border: 1px solid #264165;
  background-color: #d8dced;
}
section.saludo .mi-foto {
  width: 100px;
  border-radius: 60px;
  border: 2px solid #264165;
}

.img-brand {
  height: 30px;
  cursor: pointer !important;
  margin-right: 10px;
  border: 1px solid #ffffeb;
}

.btn-cv {
  background-color: #c87557;
  color: #fefdfd !important;
  font-family: var(--Montserrat);
  font-weight: 400;
  cursor: pointer !important;
  border: 2px solid #c36140;
  border-radius: 20px;
}
.btn-cv:hover {
  background-color: #fefdfd !important;
  color: #c87557 !important;
  transition: 0.5s;
}
.btn-cv:focus {
  box-shadow: 0 0 0 0.2rem rgb(216, 175, 151);
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: transparent;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: transparent;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  font-family: var(--Montserrat);
  text-align: center;
}
.modal-content .mi-foto {
  width: 100px;
  border-radius: 60px;
  border: 3px solid silver;
  margin-bottom: 30px;
}
.modal-content a.btn-cv {
  text-align: justify;
  background-color: #f6f8fa;
  color: black;
  font-family: var(--Montserrat);
}
.modal-content a.btn-cv:hover {
  background-color: silver;
  color: black;
}

footer {
  background-color: #e3e5f1;
  color: #253d65;
  font-family: var(--Montserrat);
  font-weight: 400;
  padding: 40px 10px 40px 10px;
  margin-top: 60px;
}
footer .col-footer {
  max-width: 650px;
}
footer .col-contactos-footer {
  margin-bottom: 10px;
  max-width: 650px;
}
footer .col-contactos-footer a:hover {
  text-decoration: overline;
  transition: 0.5s;
}
footer .justificacion-del-footer {
  text-align: justify !important;
}
footer .altura-links-footer {
  line-height: 40px;
}

.margin_bottom_cero {
  margin-bottom: 0px;
}

.accordion > .card .card-header {
  margin-bottom: 0px;
  background-color: #d8dced;
  border: 1px solid #264165;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
  color: #253d65;
  text-decoration: none;
  border-color: transparent;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  background-color: white;
  border: 1px solid #264165;
  color: #253d65;
}

section.rick-and-mrty {
  /* The container must be positioned relative: */
  /* Style the arrow inside the select element: */
  /* Point the arrow upwards when the select box is open (active): */
  /* style the items (options), including the selected item: */
  /* Style items (options): */
  /* Hide the items when the select box is closed: */
}
section.rick-and-mrty .margin-cartas-top {
  margin-top: 30px;
}
section.rick-and-mrty .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  height: 510px;
}
section.rick-and-mrty .card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  background-color: #ffffeb;
  border: 1px solid #a68069;
  color: #a68069;
  border-radius: 0px 0px 10px 10px;
}
section.rick-and-mrty .card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  background-color: #ffffeb;
  border: 1px solid #a68069;
  border-radius: 10px 10px 0px 0px;
}
section.rick-and-mrty .custom-select-2 {
  position: relative;
  font-family: Arial;
}
section.rick-and-mrty .custom-select select {
  display: none !important;
  /*hide original SELECT element: */
}
section.rick-and-mrty .select-selected {
  background-color: #ffffeb;
}
section.rick-and-mrty .select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #a68069 transparent transparent transparent;
}
section.rick-and-mrty .select-selected.select-arrow-active:after {
  border-color: transparent transparent #a68069 transparent;
  top: 7px;
}
section.rick-and-mrty .select-items div,
section.rick-and-mrty .select-selected {
  color: #a68069;
  padding: 8px 16px;
  border: 1px solid #a68069;
  cursor: pointer;
}
section.rick-and-mrty .select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
section.rick-and-mrty .select-hide {
  display: none;
}
section.rick-and-mrty .select-items div:hover,
section.rick-and-mrty .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 850px) {
  #modoNocturno[type=button]:not(:disabled) {
    cursor: pointer;
    position: absolute;
    top: 4px;
    left: 295px;
    border: transparent;
    background: transparent;
    outline: none;
    font-size: 30px;
  }
  .bg-light {
    height: unset;
  }
  .web-developer-junior {
    text-align: center;
  }
  .margenes_top {
    margin-top: 30px;
  }
  .titulo-brand {
    font-weight: 400;
    font-size: 20px;
    font-family: var(--Montserrat);
  }
  .titulo-brand:hover {
    text-decoration: none;
  }
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  section.saludo {
    margin-top: 10px;
  }
  section.saludo .titulo-principal-saludo {
    margin-top: 50px;
  }
  section.saludo .columna-1 {
    text-align: center;
    justify-content: center;
  }
  section.saludo .columna-2 {
    margin-bottom: 30px;
  }
  section.description {
    margin-top: 30px;
  }
  footer {
    position: inherit;
    margin-top: 80px;
  }
  footer .justificacion-del-footer {
    text-align: center !important;
  }
  footer .altura-links-footer {
    line-height: 35px;
  }
}
@media screen and (max-width: 720px) {
  #modoNocturno[type=button]:not(:disabled) {
    cursor: pointer;
    position: absolute;
    top: 4px;
    left: 195px;
    border: transparent;
    background: transparent;
    outline: none;
    font-size: 30px;
  }
  section.saludo {
    margin-top: 10px;
  }
  section.saludo .columna-1 {
    order: 2;
  }
  section.saludo .columna-2 {
    order: 1;
  }
}
/*# sourceMappingURL=main.css.map */