@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --Montserrat: "Montserrat";
  --Roboto: "Roboto";
}

* {
  cursor: url("assets/img/cursor_icon_173205.svg"), url("assets/img/cursor_icon_173205.png"), auto !important;
}

body {
  background-color: #cfffca;
  color: #42ab49;
}

.cont-nav {
  background-color: #42ab49;
}

.bg-light {
  background-color: transparent !important;
  height: 100px;
}

.titulo-brand {
  font-weight: 400;
  font-size: 20px;
  font-family: var(--Montserrat);
  color: #cfffca;
  cursor: pointer !important;
}

.titulo-brand:hover {
  color: white;
  transition: 0.5s;
}

section.saludo {
  max-width: 650px;
  margin-top: 60px;
}
section.saludo .cont-columnas {
  max-width: 435px;
  font-family: var(--Roboto);
}
section.saludo .titulo-principal-saludo {
  margin-bottom: 30px !important;
  font-family: var(--Roboto);
  padding: 30px 10px 30px 10px;
  border-radius: 20px;
  border: 1px solid #42ab49;
}
section.saludo .mi-foto {
  width: 100px;
  border-radius: 60px;
  border: 3px solid #42ab49;
}

.img-brand {
  height: 30px;
  cursor: pointer !important;
}

.btn-cv {
  background-color: #cfffca;
  color: #42ab49;
  font-family: var(--Montserrat);
  cursor: pointer !important;
}

.btn-cv:hover {
  background-color: #a5eea0;
  color: #42ab49;
  transition: 0.5s;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: transparent;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: transparent;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #cfffca;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.modal-content a.btn-cv {
  text-align: justify;
  background-color: #42ab49;
  color: #cfffca;
  font-family: var(--Montserrat);
  cursor: pointer !important;
}
.modal-content a.btn-cv:hover {
  background-color: #5dc460;
  color: #cfffca;
}

@media screen and (max-width: 850px) {
  .bg-light {
    height: unset;
  }
  .titulo-brand {
    font-weight: 400;
    font-size: 20px;
    font-family: var(--Montserrat);
  }
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  section.saludo {
    margin-top: 10px;
  }
  section.saludo .titulo-principal-saludo {
    margin-top: 30px;
  }
  section.saludo .columna-1 {
    text-align: center;
    justify-content: center;
  }
  section.saludo .columna-2 {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 720px) {
  section.saludo {
    margin-top: 10px;
  }
  section.saludo .columna-1 {
    order: 2;
  }
  section.saludo .columna-2 {
    order: 1;
  }
}/*# sourceMappingURL=main.css.map */