@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --Montserrat: "Montserrat";
    --Roboto: "Roboto";
    --navy: #000080;
}

body {
    background-color: white;
    color: black;
}

p {
    font-family: var(--Roboto);
    font-weight: 400;
    text-align: justify;
}

a {
    cursor: pointer !important;
}

.cont-nav {
    background-color: var(--navy);
}

.bg-light {
    background-color: transparent !important;
    height: 100px;
}

.titulo-brand {
    font-weight: 400;
    font-size: 20px;
    font-family: var(--Montserrat);
    color: white;
    cursor: pointer !important;
}

.titulo-brand:hover {
    color: silver;
    transition: 0.5s;
    text-decoration: overline;
}

section.saludo {
    max-width: 650px;
    margin-top: 60px;

    .cont-columnas {
        max-width: 435px;
        font-family: var(--Roboto);
    }

    .titulo-principal-saludo {
        margin-bottom: 30px !important;
        font-family: var(--Roboto);
        // background-color: #f7f7f7;
        padding: 30px 10px 30px 10px;
        border-radius: 20px;
        border: 1px solid var(--navy);
    }

    .mi-foto {
        width: 100px;
        border-radius: 60px;
        border: 3px solid var(--navy);
    }
}

section.description {
    max-width: 650px;
    margin-top: 60px;
}

.img-brand {
    height: 30px;
    cursor: pointer !important;
    margin-right: 10px;
}

.btn-cv {
    background-color: white;
    color: black;
    font-family: var(--Montserrat);
    font-weight: 400;
    cursor: pointer !important;
}

.btn-cv:hover {
    background-color: silver;
    color: black;
    transition: 0.5s;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: transparent;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: transparent;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    font-family: var(--Montserrat);
    text-align: center;

    .mi-foto {
        width: 100px;
        border-radius: 60px;
        border: 3px solid var(--navy);
        margin-bottom: 30px;
    }

    a.btn-cv {
        text-align: justify;
        background-color: var(--navy);
        color: white;
        font-family: var(--Montserrat);
        cursor: pointer !important;
    }

    a.btn-cv:hover {
        background-color: silver;
        color: black;
    }
}

footer {
    background-color: var(--navy);
    color: white;
    font-family: var(--Montserrat);
    font-weight: 400;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 60px;

    .col-footer {
        max-width: 650px;
    }

    .col-contactos-footer {
        margin-bottom: 10px;
        max-width: 650px;

        a:hover {
            text-decoration: overline;
        }
    }
}

.margin_bottom_cero {
    margin-bottom: 0px;
}

@media screen and (max-width: 850px) {
    .bg-light {
        height: unset;
    }

    .titulo-brand {
        font-weight: 400;
        font-size: 20px;
        font-family: var(--Montserrat);
    }

    .titulo-brand:hover {
        text-decoration: none;
    }

    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        // padding: 8px 16px 8px 0px;
    }

    section.saludo {
        margin-top: 10px;

        .titulo-principal-saludo {
            margin-top: 30px;
        }

        .columna-1 {
            text-align: center;
            justify-content: center;
        }

        .columna-2 {
            margin-bottom: 30px;
        }
    }

    section.description {
        margin-top: 30px;
    }

    footer {
        position: inherit;
        margin-top: 30px;
    }
}

@media screen and (max-width: 720px) {
    section.saludo {
        margin-top: 10px;

        .columna-1 {
            order: 2;
        }

        .columna-2 {
            order: 1;
        }
    }
}
