@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap";
@keyframes parpadeo {
  0% {
    border-color: red;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: red;
  }
}
@keyframes marqueeScroll {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-100vw);
  }
}
:root {
  --montserrat: "Montserrat";
  --roboto: "Roboto";
  --navy: #000080;
}

body {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  position: relative;
}

/* [type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button#modoNocturno:not(:disabled) {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  border: transparent;
  background: transparent;
} */
#modoNocturno[type=button]:not(:disabled) {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  border: transparent;
  background: transparent;
  outline: none;
  font-size: 30px;
}
#modoNocturno[type=button]:not(:disabled):hover {
  border: transparent;
  background: transparent;
}
#modoNocturno[type=button]:not(:disabled):focus {
  border: transparent;
  background: transparent;
}

.modo-oscuro {
  background-color: #181a1b !important;
  filter: invert(1) hue-rotate(180deg);
}

.modo-oscuro img,
.modo-oscuro video,
.modo-oscuro iframe {
  filter: invert(1) hue-rotate(180deg) !important;
}

.modo-oscuro table {
  border-color: white !important;
}

.modo-oscuro ::-moz-selection {
  background-color: #004daa !important;
  color: white !important;
}

.modo-oscuro ::selection {
  background-color: #004daa !important;
  color: white !important;
}

.container_main {
  flex: 1;
  max-width: 650px;
}

p {
  font-family: var(--Roboto);
  font-weight: 400;
  text-align: justify;
}

.margenes_top {
  margin-top: 60px;
}

a {
  cursor: pointer !important;
}

.cont-nav {
  background-color: #f6f8fa;
}

.bg-light {
  background-color: transparent !important;
  height: 100px;
}

.titulo-brand {
  font-weight: 400;
  font-size: 20px;
  font-family: var(--Montserrat);
  color: black !important;
  cursor: pointer !important;
}
.titulo-brand:hover {
  color: silver;
  transition: 0.5s;
  text-decoration: overline;
}

.navbar-light .navbar-nav .nav-link {
  color: black !important;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

section.saludo .cont-columnas {
  max-width: 435px;
  font-family: var(--Roboto);
}
section.saludo .titulo-principal-saludo {
  margin-bottom: 30px !important;
  font-family: var(--Roboto);
  padding: 30px 10px 30px 10px;
  border-radius: 20px;
  border: 1px solid silver;
}
section.saludo .mi-foto {
  width: 100px;
  border-radius: 60px;
  border: 3px solid silver;
}

.img-brand {
  height: 30px;
  cursor: pointer !important;
  margin-right: 10px;
  border: 1px solid silver;
}

.btn-cv {
  background-color: white;
  color: black;
  font-family: var(--Montserrat);
  font-weight: 400;
  cursor: pointer !important;
  border: 1px solid silver;
}
.btn-cv:hover {
  background-color: silver;
  color: black;
  transition: 0.5s;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: transparent;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: transparent;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  font-family: var(--Montserrat);
  text-align: center;
}
.modal-content .mi-foto {
  width: 100px;
  border-radius: 60px;
  border: 3px solid silver;
  margin-bottom: 30px;
}
.modal-content a.btn-cv {
  text-align: justify;
  background-color: #f6f8fa;
  color: black;
  font-family: var(--Montserrat);
}
.modal-content a.btn-cv:hover {
  background-color: silver;
  color: black;
}

footer {
  background-color: #f6f8fa;
  color: black;
  font-family: var(--Montserrat);
  font-weight: 400;
  text-align: center;
  padding: 10px;
  margin-top: 60px;
}
footer .col-footer {
  max-width: 650px;
}
footer .col-contactos-footer {
  margin-bottom: 10px;
  max-width: 650px;
}
footer .col-contactos-footer a:hover {
  text-decoration: overline;
  transition: 0.5s;
}

.margin_bottom_cero {
  margin-bottom: 0px;
}

.cont-marquee {
  background-color: white;
  border: 4px solid;
  animation: parpadeo 1s infinite alternate;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  background: transparent;
  padding: 10px 0;
  position: relative;
  white-space: nowrap;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  animation: marqueeScroll 25s linear infinite;
  font-family: var(--Roboto);
}

@media screen and (max-width: 850px) {
  #modoNocturno[type=button]:not(:disabled) {
    cursor: pointer;
    position: absolute;
    top: 4px;
    left: 295px;
    border: transparent;
    background: transparent;
    outline: none;
    font-size: 30px;
  }
  .bg-light {
    height: unset;
  }
  .web-developer-junior {
    text-align: center;
  }
  .margenes_top {
    margin-top: 30px;
  }
  .titulo-brand {
    font-weight: 400;
    font-size: 20px;
    font-family: var(--Montserrat);
  }
  .titulo-brand:hover {
    text-decoration: none;
  }
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  section.saludo {
    margin-top: 10px;
  }
  section.saludo .titulo-principal-saludo {
    margin-top: 30px;
  }
  section.saludo .columna-1 {
    text-align: center;
    justify-content: center;
  }
  section.saludo .columna-2 {
    margin-bottom: 30px;
  }
  section.description {
    margin-top: 30px;
  }
  footer {
    position: inherit;
    margin-top: 30px;
  }
  .marquee {
    animation: marqueeScroll 30s linear infinite;
  }
}
@media screen and (max-width: 850px) and (max-width: 768px) {
  .marquee {
    animation-duration: 15s;
  }
}
@media screen and (max-width: 720px) {
  #modoNocturno[type=button]:not(:disabled) {
    cursor: pointer;
    position: absolute;
    top: 4px;
    left: 195px;
    border: transparent;
    background: transparent;
    outline: none;
    font-size: 30px;
  }
  section.saludo {
    margin-top: 10px;
  }
  section.saludo .columna-1 {
    order: 2;
  }
  section.saludo .columna-2 {
    order: 1;
  }
}
/*# sourceMappingURL=main.css.map */